{{#if loggedIn}}
  <!-- Display blog posts -->
  {{#each posts}}
    <div>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <p>Created by: {{creatorUsername}}</p>
      <p>Date created: {{createdAt}}</p>
    </div>
  {{/each}}
{{else}}
  <!-- Render a login form or message -->
  <p>Please log in to view blog posts.</p>
{{/if}}